body {
  font-family: Arial, sans-serif;
  margin: 0;
  color: #2c2c2c;
  line-height: 1.6;
}

header {
  background: #1B5E20;
  color: #fff;
  padding: 20px 0;
}

nav {
  max-width: 1100px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav a {
  color: #fff;
  text-decoration: none;
  margin-left: 20px;
}

.hero {
  background: url("images/farm.jpg") center/cover;
  margin-top: 0;
  padding-top: 120px;
  text-align: center;
  color: #fff;
}

section {
  max-width: 1100px;
  margin: auto;
  padding: 60px 20px;
}

h1, h2 {
  color: #1B5E20;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 25px;
}

.card {
  background: #f9f7f3;
  padding: 25px;
  border-radius: 8px;
}

footer {
  background: #1B5E20;
  color: #fff;
  text-align: center;
  padding: 25px;
}
.site-header {
  background: #1B5E20;
  padding: 12px 0;
  min-height: 70px;
  /*display: flex;*/

}

.header-container {
  max-width: 1200px;
  margin: auto;
  padding: 0 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* LEFT BRAND */
.brand {
  display: flex;
  align-items: center;
}

.brand img {
  height: 50px;
  margin-right: 12px;
}

.brand-text {
  display: flex;
  flex-direction: column;
  color: #ffffff;
}

.brand-name {
  font-size: 18px;
  font-weight: bold;
  letter-spacing: 0.5px;
}

.brand-sub {
  font-size: 12px;
  opacity: 0.85;
}

/* RIGHT MENU */
.main-nav a {
  color: #ffffff;
  text-decoration: none;
  margin-left: 20px;
  font-size: 14px;
  font-weight: 500;
}

.main-nav a:hover {
  text-decoration: underline;
}



